/* CSS settings for the website */
/* default to border-box */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 3rem;
  background-color: #FFFDEA;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  color: #3B81C2;
  line-height: 1.5;
  
}

h1 {
  color: #5CB12E;
  font-style: normal;
  font-size: 28px;
}

h2 {
  color: #B7B7B1;
  font-style:oblique;
  font-size: 24px;
}

h3 {
  color: #6F7078;
  font-style:oblique;
  font-size: 22px;
}

p1 {
  color: #0F4267;
  font-style:normal;
  font-size: 18px;
}

p2 {
  color: #5CB12E;
  font-style:normal;
  font-size: 16px;
}

mark {
  background-color:#0F4267; 
  color:#FFFDEA;
}

/* images and videos max out at full width */

#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #6F7078 solid;
}

img,
video {
  height: auto;
  max-width: 100%;
  background-color:#6F7078;
}

footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2E4057;
  color: FFFDEA;
  text-align: center;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: #66A182;
  overflow: hidden;
  text-align: center;
  align-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #CAFFB9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #CAFFB9;
  color: #66A182;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #66A182;
  color: #C0D461;
}

/* All the parameters for buttons to be used throughout the site */
.button {
  border: none;
  background-color: #66A182;
  color: #C0D461;
  border: 2px solid #CAFFB9;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* Change color of button on hover */
.button:hover {
  background-color: #CAFFB9;
  color: #66A182;
}
